body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #282c34;
    /* animation: backColor 100s infinite; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes backColor {
    0% {
        background: #282c34;
    }
    25% {
        background: #9b59b6;
    }
    50% {
        background: #3498db;
    }
    75% {
        background: #1abc9c;
    }
    100% {
        background: #282c34;
    }
}
